.vertical-line {
    border-left: 1px solid black;    
    height:auto;   
    margin: 0;
    padding: 0;
}

.btn-menu {
    width: 150px;
    height: 40px;
    background-color: #F09C1F !important;
    font-weight: bold !important;
    border: #F09C1F !important;

}
.h2{
    font-weight: bold !important;
    padding-left: 30px;
}
.img-card{
    max-height: 200px;
    
}
.card-body li{
    font-size:medium;
}

.nav-tabs a {
    font-size: 16px;
  }

 
  @media (max-width: 768px) {
    .nav-tabs a {
      font-size: 12px;
    }
    
  }
  .btn-place{
    background-color: #F09C1F !important;
    font-weight: bold !important;
    border: #F09C1F !important;
  }

  .btn-from{
    font-weight: bold !important;
    
  }
  .img-report{    
    width: 300px;
    height: auto;

  }

  .btn-report {
    background-color: #F09C1F !important;
    border: none;
    width: 400px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .btn-report {
        width: 200px !important;
        margin-bottom: 10%;
        align-items: center;
    }

    .col-lg-6 {       
        width: 100% !important;
    }

    .d-grid {      
        display: block !important;
    }

    .col-6 {
       
        width: 100% !important;
    }
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .form-control{
      width: 100% !important;
      height: 30px !important;
    }
    .btn-from{
      width: 100% !important;
    }
   
    
}
.btn-active {
  background-color:#db3e00 !important;
  
 
}
.btn-menu:hover{    
  color: #333 !important; 
}

.error-form span{
  
  color: red;
 
}
.error-form span p{
  color: green;
}



