<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place order Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/place.css">

</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-sm-12 text-bg-light">


        <img src="../assests/menubarimg.webp" class="img-thumbnail mt-3">



        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">


        </a>
        <hr>
        <!-- menu items -->

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">




              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link text-white">

                    <button type="button" class="btn btn-primary active btn-menu mt-2 btn-active"
                      onclick="window.location.href='menu.html'" data-bs-toggle="button"
                      aria-pressed="true">Menu</button>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">

                    <button type="button" class="btn btn-primary active btn-menu mt-3"
                      onclick="window.location.href='search.html'" data-bs-toggle="button"
                      aria-pressed="true">Search</button>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <button type="button" class="btn btn-primary active btn-menu mt-3"
                      onclick="window.location.href='report.html'" data-bs-toggle="button"
                      aria-pressed="true">Report</button>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <button type="button" class="btn btn-primary active btn-menu mt-3"
                      onclick="window.location.href='addItem.html'" data-bs-toggle="button" aria-pressed="true">Add
                      Item</button>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <button type="button" class="btn btn-primary active btn-menu mt-3" data-bs-toggle="button"
                      aria-pressed="true">Remove</button>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <button type="button" class="btn btn-primary active btn-menu mt-3 mb-3" data-bs-toggle="button"
                      aria-pressed="true">Update</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- menu items -->

        <!-- body section -->


      </div>
      <div class="col-lg-8 col-sm-12 vertical-line">
        <a href="#" onclick="window.location.href='menu.html'">
          <img src="../assests/back.png" alt="Back" style="width: 50px; height: 50px;">
        </a>
        <h5 style="text-align: center;">Place Order</h5>
        <form class="row g-3 mt-3 ms-2 error-form ">

          <div class="mb-3 row">
            <label for="inputid" class="col-sm-2 col-form-label">OrderId</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="ord-id" placeholder="OR000"
                onkeyup="validateId()">
              <span id="id-error"></span>

            </div>


          </div>

          <div class="mb-3 row">
            <label for="inputCustId" class="col-sm-2 col-form-label">Customer Id</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="customer-id"
                onkeyup="validateCustomerId()">
              <span id="phone-error"></span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="name-id" onkeyup="validateName()">
              <span id="name-error"></span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputDate" class="col-sm-2 col-form-label">Order Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="date-id" placeholder="YYYY-MM-DD"
                onkeyup="validateDate()">
              <span id="date-error"></span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputTotal" class="col-sm-2 col-form-label">Total</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="total-id" onkeyup="validateTotal()">
              <span id="total-error"></span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputDiscount" class="col-sm-2 col-form-label">Discount</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%;" id="discount-id" onkeyup="validateDiscount()"
                placeholder="0%">
              <span id="discount-error"></span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputAmount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <!-- <input type="text" class="form-control" style="width:70%;" id="amount-id"onkeyup="validateAmount()">
               -->
              <p id="amount-id"></p>
              <span id="amount-error"></span>
            </div>
          </div>

          <div class="row mt-3">

            <div class="col-lg-6 col-sm-12 ">
              <button type="button" class="btn btn-primary mb-3  btn-from"
                style="background-color:#F09C1F; border: none; width: 200px">Recipt</button>

            </div>
            <div class="col-lg-6 col-sm-12 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary  btn-block mb-3 btn-from"
                style="background-color:#e41249; border: none; width: 200px" id="btn-place">Place</button>
            </div>

          </div>

          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="../assests/img/okimg.png" class="rounded me-2" width="5%" alt="...">
                <strong class="me-auto">Order Placed Succesfully</strong>

                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                your order Succesfully placed
              </div>
            </div>
          </div>

          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="../assests/img/errorimg.png" class="rounded me-2" width="5%" alt="...">
                <strong class="me-auto">Order Placed Unsuccesfull</strong>

                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                please add the data correctly
              </div>
            </div>
          </div>


        </form>

        <!-- body section -->

        <!-- cart section -->
      </div>

      <div class="col-lg-2 col-sm-12 vertical-line">
        <h2>Cart</h2>
        <div>
          <label for="txt-total" style="width: 50px;">Total = </label>
          <input class="form-control" id="txt-total" type="number" style="width: 120px; display: inline-block;">
        </div>

        <!-- cart section -->


      </div>
    </div>

  </div>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="../js/placeorder.js"></script>


</body>

</html>